.introduction {
  height: 100svh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  inset: 0;
  z-index: 9999;
  background-color: var(--color-dark);
}

.introduction p {
  color: var(--color-white);
  font-size: 42px;
  position: absolute;
  z-index: 2;
}

.introduction svg {
  position: absolute;
  top: 0;
  width: 100%;
  height: calc(100% + 300px);
}

.introduction path {
  fill: var(--color-dark);
}
